@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 60px;
  background-color: rgb(211, 224, 231);
}

.btn {
  background-color: rgb(108, 4, 143);
  color: rgb(255,255,255);
  margin: 10px 0;
  display: inline-block;
  border-radius: 5px;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(108,4,143);
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(1, 16, 104);
  padding: 0 10px;
  color: rgb(255,255,255);
  margin: 20px 0;
  border-radius: 10px;
}

.menu h1{
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
  color: rgb(204, 154, 221);
  padding: 10px 40px;
}

.menu ul{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu ul li{
  padding: 10px;
}

.menu ul li :hover{
  background-color: rgb(211, 224, 231);
  padding: 10px 0;
  color: rgb(190, 2, 140);
  width: 10px;
}